<%inherit file="settings_page_structure.html"/>

<%block name="title">
    <title>Новый ${name}</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Новый ${name}</h1>
        <h2 class="sub-header">Свойства</h2>
        <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <form method="post" action="create_new">
                % for key in create_f:
                    % if key == 'access_groups':
                    <tr>
                     <td>Группа доступа</td>
                     <td>
                     <select multiple class="form-control" name="groups">
                         % for key in access_groups.keys():
                            <option value="${key}">${access_groups[key]}</option>
                         % endfor
                    </select>
                     </td>
                    </tr>
                    % else:
                     <tr>
                     <td> ${all_f[key]}</td>
                     <td> <input type="text" value="" name=${key} /></td>
                    </tr>
                    % endif
                % endfor
                	 <tr>
                	 <td><a class="btn btn-primary" role="button" href="${session_context["back_ref"]}">Назад</a></td>
                	 <td><button class="btn btn-success" type="submit">Создать</button></td>
                    </tr>
                </form> 
              </tbody>
            </table>
        </div>

    </div>
