<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Клиенты ${session_context["company"]}</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header"> Клиенты ${session_context["company"]}</h1>
        <h2 class="sub-header"></h2>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                % for i in view_f:
                  <th>${all_f[i]}</th>
                % endfor
                </tr>
              </thead>
              <tbody>
                % for user in obj:
                  <tr>
                    % for key in view_f:
                        <td>${user.__dict__[key]}</td>
                    % endfor
                        <td> <a href="/object/${user.__dict__['uuid']}/edit">Редактировать</a></td>
                  </tr>
                % endfor
              </tbody>
            </table>
        </div>


    </div>
