<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <%
        all_count = len(G.graph.nodes())
        your_count = len(G.neighbors(session_context['uuid']))
        event_count = len(G.graph.edges())
    %>

        <h2 class="sub-header"> Сводная информация</h2>
        Всего объектов - ${all_count} <br>
        Доступных вам - ${your_count} <br>
        Всего событий - ${event_count} <br>

    </div>