<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Редактирование объекта</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Редактирование объекта</h1>
        <h2 class="sub-header">Свойства</h2>
        <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <form method="post" action="save">
                % for key in view_f:
                    % if key not in edit_f:
                    	<tr>
                    	 <td>${all_f[key]}</td>
                    	 <td> ${obj.__dict__[key]} 
                        <input type="hidden" value="${obj.__dict__[key]}" name=${key} />
                        </td>
                    	</tr>
                    % else:
                    	<tr>
                    	 <td> ${all_f[key]}</td>
                    	 <td>
                             %if key == 'dirs':
                                 <select class="form-control" name="dirs">
                                 % for d in obj.DIRS.keys():
                                  <option value="${d}">${d}</option>
                                 % endfor
                                 </select>
                             % elif key == 'disabled' and obj.uuid == session_context['uuid']:
                                ${obj.STATUS[obj.__dict__[key]]}
                                <span class="label label-warning">Вы не можете изменить статус своего пользователя.</span>
                             % elif key == 'disabled':
                                 <select class="form-control" name="disabled">
                                 % for d in obj.STATUS.keys():
                                     % if d == obj.__dict__[key]:
                                        <option selected value="${d}">${obj.STATUS[d]}</option>
                                     % else:
                                        <option value="${d}">${obj.STATUS[d]}</option>
                                     % endif
                                 % endfor
                                 </select>
                             % else:
                             <input type="text" value="${obj.__dict__[key]}" name=${key} />
                             % endif

                         </td>
                    	</tr>
                    % endif
                % endfor

                	 <tr>
                	 <td><a class="btn btn-primary" role="button" href="${session_context["back_ref"]}">Назад</a></td>
                	 <td><button class="btn btn-success" type="submit">Записать</button></td>
                    </tr>
                </form> 
              </tbody>
            </table>
        </div>

    </div>
