<%inherit file="settings_page_structure.html"/>

<%block name="title">
    <title>Сорудники и аккаунты ${session_context["company"]}</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        % if 'admin' in session_context['groups']:
        <h2 class="sub-header">
        <a class="btn btn-primary" role="button" href="/employee/add">Добавить сотрудника</a>
        </h2>
        % endif
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            % for user in obj:
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_${user.id}">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                       href="#collapse_${user.id}"
                       aria-expanded="false" aria-controls="collapse_${user.id}">
                        ${user.name} ${user.surname}
                    </a>&nbsp;&nbsp;
                    <a href="/object/${user.__dict__['uuid']}/edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                  </h4>
                </div>
                <div id="collapse_${user.id}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_${user.id}">
                  <div class="panel-body">
                      <p>
                      <a class="btn btn-default btn-xs" href="/account/add?employee_uuid=${user.__dict__['uuid']}">
                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                      </p>
                      <p>
                      % if linked[user.uuid]:
                        <ul class="list-unstyled">
                        % for link in linked[user.uuid]:
                            <p>
                            ${link.description} - ${link.login}
                            <a class="btn btn-default btn-xs" href="/object/${link.uuid}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            </p>
                        % endfor
                        </ul>
                      % else:
                        No accounts
                      % endif
                      </p>
                  </div>
                </div>
            </div>
            % endfor
        </div>
    </div>
