<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    % if 'admin' in session_context['groups']:
      <p class="lead">Вы администратор системы. Что делать дальше?</p>
      <p>
        <a href="/settings?menu=employee">Создайте</a> одного Пользователя и Эксперта
      </p>
      <p>
        <a href="/settings?menu=ktree">Создайте </a>два новых раздела Навигатора и добавьте Эксперта
      </p>
      <p>
        <a href="/settings?menu=employee">Настройте</a> Аккаунты интернет сервисов
      </p>
    <p>
      <a href="#accounts">Получите</a> сообщения
    </p>
      <p>
        <a href="#ktree">Свяжите</a> сообщения с разделами Навигатора и <a href="#ktree">Обучите </a> систему
      </p>
    % endif
    % if 'expert' in session_context['groups']:
      <p class="lead">Вы Эксперт. Что делать дальше?</p>
      <p>
          <a href="#cases">Создайте</a> три или больше кейсов в разделах Навигатора
      </p>
      <p><a href="/settings?menu=ktree">Обучите систему</a>, в разделе <a href="/settings?menu=ktree">Настройки:
          Навигатор Знаний</a> нажмите
          "Обновить классификацию кейсов"
      </p>
    % endif
    % if 'users' in session_context['groups']:
      <p class="lead">Вы Пользователь. Что делать дальше?</p>
      <p>
        <a href="/settings?menu=employee">Настройте</a> Аккаунты интернет сервисов
      </p>
      <p>
        Получайте сообщения и связывайте их с разделами Навигатора Знаний.
      </p>
      <p>
        Применяйте Кейсы при работе с сообщениями.
      </p>

    % endif

    <h4 class="sub-header"></h4>
    <p class="lead" id="about">
        О системе
    </p>
    <p>
      Система собирает всю доступную информацию, обрабатывает и размещает в <a href="/ktree">Навигаторе
      Знаний</a>. Любая информация (из внешнего источника) размещается в подходящем по смыслу разделе.
      Информация созданная внутри системы, размещается в специальных системных разделах Навигатора.
    </p>

    <p>
      Любая информация с чем-нибудь связана: владельцем, получателем, компаний, клиентом, другой
      информацией и т.д. Все эти связи автоматически определяются системой и фиксируются. Автоматическое
      определение связей задается с помощью <abbr title="пока только через программирование">правил</abbr>. В
      будущем создание правил будет доступно пользователям.
    </p>
    <p>
      Сообщения электронной почты, это одна из форм представления информации. Любое сообщение относится к
      определенной теме, система автоматически определит и разместит его в нужном разделе Навигатора. Если
      сообщение входит в цепочку, то все они будут автоматически связаны между собой.
    </p>
    <h4 class="sub-header"></h4>
      <p class="lead"  id="users">Пользователи</p>
      <p>Сотрудники компании работающие в системе.</p>
      <p>Сотрудника создает Администратор компании.</p>
      <p>Сотруднику может назначется роль в системе. Это может быть: Администратор, Эксперт, Пользователь.</p>

    <h4 class="sub-header"></h4>
      <p class="lead"  id="roles_access">Роли и права доступа</p>
      <ul>
          <li><strong>Роль Администратор</strong></li>
          <p>
              Имеет все права в системе.
          </p>
          <li>
              <strong>Роль Эксперт</strong>
          </li>
          <p>
              Дополнительно к возможностям роли Пользователь.
          </p>
          <p>
              Предназначена для управления не системными разделами Навигатора Знаний.
          </p>
          <p>
              Может создавать подразделы, создавать объекты в своих разделах, видеть всю информацию в
              них.
          </p>
          <p>
              Может создавать Кейсы. Это специальные объекты, которые описывают действия в той
              или иной ситуации пользователю системы. Пользователь системы может применять Кейсы.
          </p>
          <li>
              <strong>Роль Пользователь</strong>
          </li>
          <p>
              Основная роль Сотрудников в системе.
          </p>
          <p>Может подключать к системе аккаунты различных систем для сбора информации.</p>
          <p>Видеть свою информацию в Навигаторе, автоматически привязанную к его разделам.</p>
          <p>Использовать любые объекты созданные Экспертами.</p>
      </ul>

    <h4 class="sub-header"  id="cases"></h4>
      <p class="lead">
          Кейсы
      </p>
          <ul>
              <li>
                  <strong>Создание</strong>
              </li>
              <p>
                  Если в разделе Навигатора Знаний есть сообщения, вы можете создать Кейс на основе любого из них.
              </p>
              <p>
                  Для этого откройте сообщение и нажмите "Создать кейс".
                  Старайтесь использовать в поле "Запрос" слова наиболее близко характеризующие описании ситуации для
                  которой будет применяться Кейс.
                  Поле Алгоритм пока не используется, можно заполнить как угодно.
              </p>
              <li>
                  <strong>Применение</strong>
              </li>
              <p>
                  Для применения Кейсов в системе должно быть создано не менее 3 (трех) Кейсов в разных разделах
                  Навигатора Знаний.
              </p>
              <p>
                  После создания необходимо обучить систему применять Кейсы. Для этого в разделе <a
                      href="/settings?menu=ktree">Настройки: Навигатор Знаний</a> нажмите "Обновить классификацию
                  кейсов".
              </p>
          </ul>

        <h4 class="sub-header"  id="messages_cases"></h4>
      <p class="lead">
          Сообщения и Кейсы
      </p>
          <p>Это два основных способа представления информации в системе.</p>
          <ul>
              <li>
                  <strong>Сообщения</strong>
              </li>
              <p>
                  Все что получено через Аккаунты, созданные Пользователями системы.
              </p>
              <p>Сообщения нельзя редактировать, можно просматривать, привязывать к разделам Навигатора,
                  использовать для создания Кейсов и применять к ним существующие Кейсы.
              </p>
              <li>
                  <strong>Кейсы</strong>
              </li>
              <p>
                  Это руководство к действию.
              </p>
              <p>
                  Кейс создается Экспертом на основании какой-либо информации содержащийся в сообщении.
                  Он содержит в себе описание проблемы, решение и алгоритм который будет использоваться при
                  его применении.
              </p>
              <p>
                  Когда в системе есть сообщение с информаций к которой можно применить тот или иной Кейс (т.е.
                  описание проблемы в Кейсе очень похоже на содержание сообщения), об этом
                  будет сообщено.
                  Пользователь может использовать Кейс для ответа на сообщение. Решение будет использоваться
                  как ответ.
              </p>
          </ul>

    <a href="#" name="ktree"></a>
    <h4 class="sub-header"></h4>
    <p class="lead">Навигатора Знаний</p>
    <p>
      Описывает области Знаний компаний. В разделы Навигатора помещается все доступная информация,
      автоматические распределенная системой.
    </p>
    <p>
      Визуально представлена в виде дерева, но может быть преобразована в любой другой вид.
    </p>
    <p>
      Вы можете найчить систему, какую информацию в какой раздел <a href="/ktree">Навигатора
      Знаний</a> разместить. Для этого <abbr title="Нажмите кнопку 'Связать'">свяжите</abbr> любой сообщение,
      файл и т.д. с разделом <a href="/ktree">Навигатора Знаний</a> и проведите <abbr
          title="Нажмите кнопку 'Обучить классификатор'">обучение системы</abbr> в <a
          href="/settings?menu=ktree">Настройках Навигатора Знаний</a>.
    </p>

    <h4 class="sub-header" id="accounts"></h4>
    <p class="lead">Аккаунты интернет сервисов</p>
    <p>
      Содержат данные для подключения к различным интернет сервисам.
      На текущий момент поддерживается только электронная почта, сервисы от Gmail и Yandex.
    </p>
    <p>
      Подключение происходит по IMAP протоколу. По-умолчанию небходимо использовать порт: 993
    </p>
    <p>
      Сообщения загружаются при входе Пользователя в систему и каждый раз при открытии главной страницы.
    </p>
    <p>
      Пользователь может отключить аккаунт. Для этого необходимо в разделе <a
          href="/settings?menu=employee">Настройки: Аккаунты</a> нажать
      на значок <span class="glyphicon glyphicon-off" aria-hidden="true"></span> рядом с Аккаунтом.
    </p>
    <p>
      Аккаунт не может быть удален. Это необходимо для сохранения информационных связей.
    </p>
    <h4 class="sub-header"></h4>
    <p class="lead"  id="disable_enable_accounts">Отключение и включение пользователей</p>
    <p>
      Администратор может отключить пользователя от системы. Для этого необходимо в разделе <a
          href="/settings?menu=employee">Настройки: Сотрудники и Аккаунты</a> нажать
      на значок <span class="glyphicon glyphicon-off" aria-hidden="true"></span>.
    </p>
</div>

