<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Категория ${name}</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Навигатор Знаний: ${name}</h1>
        <div class="alert alert-info" role="alert">
            % if obj.type == "system":
                <p>Это системный узел. Его нельзя отредактировать и удалить.</p>
            % else:
                <p>Это расшираемый узел. Его можно редактировать и удалять.</p>
            % endif
        </div>
        % for node in nodes:
            % if node.__dict__['uuid'] in neighbors or 'admin' in session_context['groups'] or \
                obj.expert == session_context['login'] or obj.objects_class == 'cases':
                <%
                    if node.__tablename__ == 'cases':
                        panel_color = 'success'
                    else:
                        panel_color = 'default'
                %>
                <div class="panel panel-${panel_color}">
                    <div class="panel-heading">
                            % for key in node.SHORT_VIEW_FIELDS:
                                <strong>${node.ALL_FIELDS[key]}: </strong>

                                % if len(node.__dict__[key]) >= 45:
                                    <a href="/object/${node.uuid}" class="text-${panel_color}">
                                    ${node.__dict__[key][0:45]}...
                                    </a>
                                % else:
                                    <a href="/object/${node.uuid}" class="text-${panel_color}">
                                    ${node.__dict__[key]}
                                    </a>
                                % endif
                                &nbsp;&nbsp;
                            % endfor
                    </div>
                    <div class="panel-body">

                        % if len(node.__dict__['custom_category']) == 0:
                            <a class="btn btn-default btn-xs" role="button" href="/object/${node.uuid}/addlink">Связать</a>
                        % else:
                            <a class="btn btn-default btn-xs" role="button" href="/object/${node.uuid}/addlink">Изменить</a>
                        % endif

                        % for cat in node.__dict__['custom_category']:
                            <span class="label label-primary">${cat.name}</span>
                        % endfor

                        % for cat in auto_cats[node.uuid]:
                            <span class="label label-warning">${cats_name[cat[1]].name} - ${cat[0][0:5]}</span>
                        % endfor
                    </div>
                </div>
            % endif
        % endfor
    </div>
