<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Категория ${name}</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">${name}</h1>
        <div class="alert alert-info" role="alert">
        % if obj.type == "system":
            <p>Это системный узел. Его нельзя отредактировать и удалить.</p>
        % else:
            <p>Это расшираемый узел. Его можно редактировать и удалять.</p>
        % endif
        </div>
        % for node in nodes:
        <div class="well well-sm">
        <a href="/object/${node.uuid}" >
            % for key in node.SHORT_VIEW_FIELDS:
                ${node.ALL_FIELDS[key]}: ${node.__dict__[key]}
            % endfor
        </a>
            <a href="/object/${node.uuid}/link"><span class="label label-default">Связать</span></a>

        </div>
        % endfor
    </div>
