<%inherit file="base.html"/>

<%block name="title">
    <title>Внутренняя страница</title>
</%block>


<%block name="navigation">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/object/${session_context['uuid']}">${session_context['name']}
        ${session_context['surname']} (${session_context['login']})</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/settings">Настройки</a></li>
        <li><a href="/object/${session_context['uuid']}">Профиль</a></li>
        <li><a href="/help">Помощь</a></li>
        <li><a href="/auth/logout">Выход</a></li>
      </ul>
    </div>
  </div>
</nav>
    
</%block>
    
<%block name="menu">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        % if session_context['menu'] in ['accounts','employee','settings','show_object','edit_object','add_object',\
        'ktree_category','ktree_settings']:
        <li><a href="/">На главную<span class="sr-only">(current)</span></a></li>
        % endif
        % if session_context['menu'] in ['accounts','employee','ktree_category','ktree_settings']:
        <li><a href="${session_context['back_ref']}">Назад<span class="sr-only">(current)</span></a></li>
        % endif
        % if session_context['menu'] in ['main','clients','timeline','ktree']:
        <li
          % if session_context['menu'] == 'main':
            class="active"
          % endif
          ><a href="/">Главная <span class="sr-only">(current)</span></a></li>
        <li
          % if session_context['menu'] == 'clients':
            class="active"
          % endif
          ><a href="/clients">Клиенты</a></li>
        <li
          % if session_context['menu'] == 'timeline':
            class="active"
          % endif
          ><a href="/timeline">События</a></li>
        <li
          % if session_context['menu'] == 'ktree':
            class="active"
          % endif
          ><a href="/ktree">Навигатор Знаний</a></li>
        % endif
      </ul>
    </div>
</%block>

<%block name="base">
    ${self.body()}
</%block>

<%block name="footer">
</%block>