<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Профиль объекта</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Профиль объекта</h1>
        <h2 class="sub-header">Свойства</h2>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Свойство</th>
                  <th>Значение</th>
                </tr>
              </thead>
              <tbody>
                % for key in view_f:
                  <tr>
                      <td>${all_f[key]}</td>
                      <td>${obj.__dict__[key]}</td>
                  </tr>
                % endfor
                	 <tr>
                	 <td> <a href="${session_context['back_ref']}">Назад</a></td>
                	 <td> <a href="edit">Редактировать</a></td>
                    </tr>
              </tbody>
            </table>
        </div>

    </div>

