<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Профиль объекта</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">${obj.NAME}</h2>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Свойство</th>
                  <th>Значение</th>
                </tr>
              </thead>
              <tbody>
                % if obj.__dict__['uuid'] in neighbors or 'admin' in session_context['groups']:
                        % for key in view_f:
                          <tr>
                              <td>${all_f[key]}</td>
                              <td>
                                 %if key == 'dirs':
                                    INBOX, SENT
                                 % elif key == 'disabled':
                                    ${obj.STATUS[obj.__dict__[key]]}
                                 % elif key == 'access_groups':
                                    % for group in obj.__dict__[key]:
                                        ${obj.ACCESS_GROUPS[group]}<br>
                                    % endfor
                                 % else:
                                    ${obj.__dict__[key]}
                                 % endif
                              </td>
                          </tr>
                        % endfor
                %else:
                    <div class="alert alert-warning" role="alert">
                        <p>Недостаточно прав.</p>
                    </div>
                % endif

                	 <tr>
                	 <td> <a href="${session_context['back_ref']}">Назад</a></td>
                	 <td> <a href="edit">Редактировать</a></td>
                    </tr>
              </tbody>
            </table>
        </div>

    </div>

