<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Профиль объекта</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <script src="/static/ckeditor/ckeditor.js"></script>
</%block>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">${obj.NAME}</h2>
        % if obj.__dict__['uuid'] in neighbors or 'admin' in session_context['groups'] or \
            obj.__tablename__ == 'cases' or show_object:

            <p>
                <a href="${session_context['back_ref']}" class="btn btn-default" role="button">Назад</a>
                % if obj.__tablename__ != 'dynamic_object':
                    <a href="edit" class="btn btn-default" role="button">Редактировать</a>
                % endif
                % if ('admin' in session_context['groups'] or 'expert' in session_context['groups']) and \
                    obj.__tablename__ == 'dynamic_object':
                    <a href="/cases/add?uuid=${obj.uuid}" class="btn btn-default" role="button">Создать кейс</a>
                % endif
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#linked_nodes">
                    Связанные объекты
                </button>
            </p>

            <div class="table-responsive">
                <table class="table table-striped">
                  <tbody>
                    % if obj.__tablename__ == 'dynamic_object' and nbrs:
                        <tr>
                            <td>Кейсы</td>
                            <td>
                            % for i in nbrs:
                                <button type="button" class="btn btn-warning btn-xs" data-toggle="modal"
                                        data-target="#${cases[i[0]].uuid}">
                                    ${cases[i[0]].subject}
                                </button>
                            % endfor
                            </td>
                        </tr>
                    % endif
                    %if obj.__tablename__ == 'cases':
                        % for key in view_f:
                            % if key == 'query':
                                <tr>
                                 <td> ${all_f[key]}</td>
                                 <td>
                                     <textarea disabled name="${key}">
                                         ${obj.__dict__[key]}
                                     </textarea>
                                     <script>
                                     // Replace the <textarea id="editor1"> with a CKEditor
                                     // instance, using default configuration.
                                     CKEDITOR.replace("${key}");
                                     </script>

                                 </td>
                                </tr>
                            % elif key == 'solve':
                                <tr>
                                 <td> ${all_f[key]}</td>
                                 <td>
                                     <textarea disabled name="${key}">
                                         ${obj.__dict__[key]}
                                     </textarea>
                                     <script>
                                     // Replace the <textarea id="editor1"> with a CKEditor
                                     // instance, using default configuration.
                                     CKEDITOR.replace("${key}");
                                     </script>
                                 </td>
                                </tr>
                            % else:
                                <tr>
                                 <td> ${all_f[key]}</td>
                                 <td> ${obj.__dict__[key]}</td>
                                </tr>
                            % endif
                        % endfor
                    % else:
                        % for key in view_f:
                          <tr>
                              <td>${all_f[key]}</td>
                              <td>
                                 %if key == 'dirs':
                                    INBOX, SENT
                                 % elif key == 'disabled':
                                    ${obj.STATUS[obj.__dict__[key]]}
                                 % elif key == 'access_groups':
                                    % for group in obj.__dict__[key]:
                                        ${obj.ACCESS_GROUPS[group]}<br>
                                    % endfor
                                 % elif key == 'raw_text_html':
                                  <iframe width=80% onload="this.style.height=this.contentDocument.body.scrollHeight +'px';"
                                          scrolling=auto frameborder=0 src="frame">
                                  </iframe>
                                 % else:
                                    ${obj.__dict__[key]}
                                 % endif
                              </td>
                          </tr>
                        % endfor
                    % endif
                  </tbody>
                </table>
            </div>
        % else:
            <div class="alert alert-warning" role="alert">
                <p>Недостаточно прав.</p>
            </div>
        % endif

            <a href="${session_context['back_ref']}" class="btn btn-default" role="button">Назад</a>
            % if obj.__tablename__ != 'dynamic_object':
                <a href="edit" class="btn btn-default" role="button">Редактировать</a>
            % endif
            % if ('admin' in session_context['groups'] or 'expert' in session_context['groups']) and \
                obj.__tablename__ == 'dynamic_object':
                <a href="/cases/add?uuid=${obj.uuid}" class="btn btn-default" role="button">Создать кейс</a>
            % endif


        % if obj.__tablename__ == 'dynamic_object' and nbrs:
            % for i in nbrs:

            <!-- Modal -->
            <div class="modal" id="${cases[i[0]].uuid}" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content ">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Кейс ${cases[i[0]].subject}</h4>
                  </div>
                  <div class="modal-body">

                    % for key in cases[i[0]].VIEW_FIELDS:
                        % if key in ['query', 'solve']:
                          <div class="row">
                              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                  <h4>
                                      ${cases[i[0]].ALL_FIELDS[key]}
                                  </h4>
                                  <p>
                                     <textarea disabled id="${cases[i[0]].uuid}_${key}">
                                         ${cases[i[0]].__dict__[key]}
                                     </textarea>
                                  </p>
                                     <script>
                                     // Replace the <textarea id="editor1"> with a CKEditor
                                     // instance, using default configuration.
                                     CKEDITOR.replace("${cases[i[0]].uuid}_${key}");
                                     </script>
                              </div>
                          </div>
                        % else:
                          <div class="row">
                              <div class="col-xs-12 col-md-12 col-lg-12">
                                  <h4>
                                      ${cases[i[0]].ALL_FIELDS[key]}
                                  </h4>
                                  <p>
                                      ${cases[i[0]].__dict__[key]}
                                  </p>

                              </div>
                          </div>
                        % endif

                    % endfor
                  </div>
                  <div class="modal-footer">
                              <a class="btn btn-primary" href="/cases/${cases[i[0]].uuid}/use?for_uuid=${obj.uuid}">
                                  Использовать
                              </a>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                  </div>
                </div>
              </div>
            </div>

            % endfor
        % endif
        % if linked_nodes:
            <!-- Modal -->
            <div class="modal" id="linked_nodes" tabindex="-1" role="dialog"
                 aria-labelledby="linked_nodes_label">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content ">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="linked_nodes_label">Связанная информация</h4>
                  </div>
                  <div class="modal-body">
                      % for key in linked_nodes.keys():
                            <div class="panel panel-default">
                                <div class="panel-heading">
                            % if key == 'cases':
                                Связан с Кейсами:<br>
                            % elif key == 'accounts':
                                Получено через Аккаунт:<br>
                            % elif key == 'employees':
                                Пользователь: <br>
                            % elif key == 'knowledge_tree':
                                Раздел Навигатора Знаний:
                            % elif key == 'dynamic_object':
                                Связан с сообщениями:
                            % else:
                                ${key}
                            % endif
                                </div>
                                <div class="panel-body">
                        % for k in linked_nodes[key].keys():
                            % for f in linked_nodes[key][k].SHORT_VIEW_FIELDS:
                                <strong>${linked_nodes[key][k].ALL_FIELDS[f]}:</strong>
                                <a href="/object/${linked_nodes[key][k].__dict__['uuid']}">
                                    ${linked_nodes[key][k].__dict__[f]}
                                </a>
                            % endfor
                                    <br>
                        % endfor
                                </div>
                            </div>
                      % endfor
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                  </div>
                </div>
              </div>
            </div>

        % endif

    </div>

